.DS_Store
.env*
!.env.example
.idea
.temp
.tmp
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
/build
/dist
/node_modules
/tmp
dist
dist-ssr
lerna-debug.log*
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
